<phpunit colors="true" strict="true" bootstrap="tests/autoload.php">
    <php>
        <env name="BOL_CLIENT_ID" value="ea1488ea-42fd-4ded-a883-fc332349738f" force="true"/>
        <env name="BOL_CLIENT_SECRET" value="AK3tFvQXFI0FT29lzMtvisbtgBZYaNkPg6vzP651O8RxYdyITW3HRP2UXm3ICf4SPXNrIzRJzbf7fQ7OHLBlGhs" force="true"/>
    </php>
    <testsuites>
        <testsuite name="BolClient">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>